.menu
  if lang == "es"
    a(href=`/${lang}/`) CAM22
    a(href=`/${lang}/historia`) Historia
    a(href=`/${lang}/orga`) Organización
  if lang == "en"
    a(href=`/${lang}/`) AJC22
    a(href=`/${lang}/historia`) History
    a(href=`/${lang}/orga`) Organization
  if lang == "fr"
    a(href=`/${lang}/`) CAJ22
    a(href=`/${lang}/historia`) Histoire
    a(href=`/${lang}/orga`) Organisation
  if lang == "pt"
    a(href=`/${lang}/`) CAM22
    a(href=`/${lang}/historia`) História
    a(href=`/${lang}/orga`) Organização
