#portada(class=celu ? 'mobile' : 'desktop')
  #telon
    include lenguajes
    #titulo
      h1=titulo
    if !celu 
      #flechita
    #logo
    #flamenco
    a(href='https://forms.gle/Siopo6FwKsaT1oMh7')
      #convocatoria
    //- if celu
    //-   #flamenco
    //-   #logo22
      
      
  if !celu
  video(autoplay=true playsinline=true loop=true muted=true )
    source(src="/video/portada-web-h264.mp4" type="video/mp4")
